<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <h2>NEW USER</h2>
    <form action="/user/new" method="post">
        <input type="text" name="username" placeholder="enter username">
        <br>
        <input type="email" name="email" placeholder="enter email">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button>submit</button>
    </form>
</body>
</html>